node_modules/

dist/
dist-ssr/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

*.glb
*.gltf
public/models/ruanganfix.glb

*.local

public/models/noon_grass_4k.exr
